@using ASI.Basecode.Services.ServiceModels
@model ForgotPasswordViewModel
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Forgot Password";
}
@section styles {
    <link rel="stylesheet" href="~/css/forgotpass.css" />
}
@if (!string.IsNullOrEmpty(ViewBag.ResetPasswordError))
{
    <p class="error-message">@ViewBag.ResetPasswordError</p>
}

@if (!string.IsNullOrEmpty(ViewBag.ResetPasswordSuccess))
{
    <p class="success-message">@ViewBag.ResetPasswordSuccess</p>
}

<div class="screen-container">
    <div class="inside-container">
        <div class="pngContainers">
            <div class="imageContainer">
                <img src="/img/knowbody.png"
                     style="width: 90%;" alt="logo">
            </div>
            <div class="imageContainer2">
                <img src="/img/forgotpasswordPic.png"
                     style="width: 70%;" alt="logo">
            </div>
        </div>

        <div class="boxContainer">
            <div class="inputContainer">
                <div class="backButton">
                    <a asp-controller="Account" asp-action="Login" class="backP">
                        Back to Login
                    </a>
                </div>

                <p class="text1">Forgot your password?</p>
                <form method="post">
                    <i class="fa fa-envelope password-icon" id="envelope"></i>
                    <input class="passwordInput" type="text" id="text" placeholder="Email" name="Email" asp-for="Email"><br><br>
                    <span asp-validation-for="Email" class="text-danger"></span><br>

                    <div style="display: flex; justify-content: center;">
                        <input class="changeButton" type="submit" value="Submit">
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>
@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}