@using ASI.Basecode.Services.ServiceModels
@model ResetPasswordViewModel
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Forgot Password";
}
@section styles {
    <link rel="stylesheet" href="~/css/resetpassword.css"/>
}

<div class="screen-container">
    <div class="inside-container">
        <div class="pngContainers">
            <div class="imageContainer">
                <img src="/img/knowbody.png"
                     style="width: 90%;" alt="logo">
            </div>
            <div class="imageContainer2">
                <img src="/img/forgotpasswordPic.png"
                     style="width: 70%;" alt="logo">
            </div>
        </div>

        <div class="boxContainer">
            <div class="inputContainer">
                <div class="backButton">
                    <a asp-controller="Account" asp-action="Login" class="backP">
                        Back to Login
                    </a>
                </div>

                <p class="text1">WANT TO CHANGE YOUR PASSWORD?</p>
                <p class="text2">No problem. Let’s change it!</p>
                <form method="post">
                    <i class="fas fa-eye-slash password-icon" id="togglePassword"></i>
                    <input class="passwordInput" type="password" id="password" placeholder="New Password" name="NewPassword"><br><br>
                    <span asp-validation-for="NewPassword" class="text-danger"></span><br>

                    <i class="fas fa-eye-slash password-icon2" id="togglePassword2"></i>
                    <input class="passwordInput2" type="password" id="confirm_password" placeholder="Confirm New Password" name="ConfirmNewPassword"><br><br>
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span><br>

                    <div style="display: flex; justify-content: center;">
                        <input class="changeButton" type="submit" value="Change">
                    </div>
                </form>
            </div>

        </div>
    </div>
                  
</div>

@section scripts {
    <script>
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
        var successMessage = '@TempData["SuccessMessage"]';
        if (successMessage) {
            toastr.success(successMessage);
        }
    </script>

    <script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);

            this.classList.toggle("fa-eye-slash");
            this.classList.toggle("fa-eye");
        });

    </script>
     <script>
        const togglePassword2 = document.querySelector("#togglePassword2");
        const password2 = document.querySelector("#confirm_password");

        togglePassword2.addEventListener("click", function () {
            const type = password2.getAttribute("type") === "password" ? "text" : "password";
            password2.setAttribute("type", type);

            this.classList.toggle("fa-eye-slash");
            this.classList.toggle("fa-eye");
        });

    </script>
}
