@using ASI.Basecode.Services.ServiceModels
@model TrainingViewModel

@section styles {
    <link rel="stylesheet" href="~/css/viewtraining.css" />
}
@{
    ViewData["Title"] = "View Training";
    ViewBag.IsViewTrainingPage = true;
    var trainingId = Model.Id;
}

<div class="screen-container">
    <div class="inside-container">
        <form method="post" asp-action="ViewTraining">
            <input type="hidden" class="input-design" asp-for="Id">
            <div class="twoDiv">
                <div class="rightDiv">
                    <div class="form-group">
                        <label for="trainingName" class="inputs-label">TRAINING NAME</label>
                        <input type="text" class="input-design" asp-for="TrainingName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="trainingDesc" class="inputs-label">DESCRIPTION</label>
                        <textarea type="text" class="text-area-design" asp-for="TrainingDesc" readonly></textarea><br>
                    </div>
                </div>
                <div class="leftDiv">
                    <div class="form-group">
                        <label for="TrainingAuthor">AUTHOR</label>
                        <input type="text" class="input-design" asp-for="TrainingAuthor" readonly><br><br>
                    </div>
                    <div class="form-group">
                        <label for="CategoryName">CATEGORY</label>
                        <input type="text" class="input-design" asp-for="CategoryName" readonly><br><br>
                    </div>
                    <label for="ImageUrl">COVER IMAGE</label>
                    <div class="imageDiv">
                        <img id="previewImage" src="@Model.ImageUrl" class="imageFile" alt="">
                    </div>
                    <div class="bottom-buttons">
                        <a class="topicsButton" asp-controller="Topic" asp-action="Topics" asp-route-trainingId="@trainingId">
                            View Topics
                        </a>
                        <a class="ratingsButton"  asp-controller="Training" asp-action="ViewRatings" asp-route-trainingId="@trainingId">
                            View Ratings
                        </a>
                    </div>
                </div>
            </div>
            <div class="bottomBackButton">
                <a class="back-button" asp-controller="Training" asp-action="Trainings">
                    BACK TO LIST
                </a>
            </div>
        </form>
    </div>
</div>
@section scripts{
}