
@section styles {
    <link rel="stylesheet" href="~/css/" />
}

@{
    ViewData["Title"] = "User Master";
    ViewBag.IsTrainingCategoryPage = true;
}
<div style="text-align: center;">
    <p>TESTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT</p>
    <p>TESTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT</p>
    <p>TESTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT</p>
</div>
