@using ASI.Basecode.Services.ServiceModels
@model CategoryViewModel

@section styles {
    <link rel="stylesheet" href="~/css/viewcategory.css" />
}
@{
    ViewData["Title"] = "View Category";
    ViewBag.IsViewCategoryPage = true;
}

<div class="screen-container">
    <div class="inside-container">
        <form method="post" asp-action="ViewUser">
            <input type="hidden" class="form-control" asp-for="Id">
            <div class="twoDivContainer">
                <div class="nameDescDiv">
                    <div class="form-group">
                        <label for="categoryName">CATEGORY NAME</label>
                        <input type="text" class="input-design" asp-for="CategoryName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="categoryDesc">DESCRIPTION</label>
                        <textarea class="text-area-design" asp-for="CategoryDesc" readonly></textarea>
                    </div>
                </div>
                <div class="trainingsListDiv">
                    <label>TRAININGS</label><br />
                    <label class="underText">under this category:</label>
                    <div class="trainingsDiv scrollable">
                        @if (Model.Trainings != null && Model.Trainings.Any())
                        {
                            <ul>
                                @foreach (var training in Model.Trainings)
                                {
                                    <li class="trainingItem">
                                        <span class="bullet"></span>
                                        <p class="trainingName">@training.TrainingName</p>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <li class="trainingItem">
                                <span class="bullet"></span> 
                                <p class="trainingName">No Trainings Added</p>
                            </li>
                        }
                    </div>
                </div>
            </div>
            <div class="bottom-buttons">
                <a class="back-button" asp-controller="Category" asp-action="TrainingCategories">
                    BACK TO LIST
                </a>
            </div>
        </form>
    </div>
</div>
@section scripts{
}