@using ASI.Basecode.Services.ServiceModels
@model CategoryViewModel

@section styles {
    <link rel="stylesheet" href="~/css/viewcategory.css" />
}
@{
    ViewData["Title"] = "View Category";
    ViewBag.IsViewCategoryPage = true;
}

<div class="viewuser-div">
    <div class="inside-viewuser">
        <div>
            <form method="post" asp-action="ViewUser">
                <div class="form-group">
                    <input type="hidden" class="form-control" asp-for="Id">
                </div>
                <div class="form-group">
                    <label for="categoryName">CATEGORY NAME</label>
                    <input type="text" class="form-control" asp-for="CategoryName" readonly>
                </div>
                <div class="form-group">
                    <label for="categoryDesc">DESCRIPTION</label>
                    <input type="text" class="form-control" asp-for="CategoryDesc" readonly>
                </div>
                <div class="form-group">
                    <label for="trainings">TRAINING PROGRAMS UNDER THIS CATEGORY</label>
                    @if (Model.Trainings != null && Model.Trainings.Any())
                    {
                        <ul>
                            @foreach (var training in Model.Trainings)
                            {
                                <li>@training.TrainingName</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>No Trainings Added</p>
                    }
                </div>
                <div class="form-group">
                    <a class="btn btn-secondary" asp-controller="Category" asp-action="TrainingCategories">
                        BACK TO LIST
                    </a>
                </div>
            </form>

        </div>
    </div>
</div>
@section scripts{
}