@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<header class="@((ViewBag.LoginView == true) ? "hide-navbar" : "")">
    <div class="logosec">
        <div class="hover-pointer">
            <img src="~/img/logo.png"
                 style="width: 100%;" alt="logo"
                 onclick="window.location.href = '@Url.Action("Index", "Home")';">

        </div>
        <span class="logoText">
            @if (ViewBag.IsUserMasterPage == true)
            {
                <span>USER MASTERLIST</span>
            }
            else if (ViewBag.IsViewUserPage == true)
            {
                <span>USER DETAILS</span>
            }
            else if (ViewBag.IsAddUserPage == true)
            {
                <span>ADD USER</span>
            }
            else if (ViewBag.IsEditUserPage == true)
            {
                <span>EDIT USER</span>
            }
            else if (ViewBag.IsTrainingCategoryPage == true)
            {
                <span>TRAINING CATEGORIES</span>
            }
            else if (ViewBag.IsEditCategoryPage == true)
            {
                <span>EDIT CATEGORY</span>
            }
            else if (ViewBag.IsAddCategoryPage == true)
            {
                <span>ADD CATEGORY</span>
            }
            else if (ViewBag.IsViewCategoryPage == true)
            {
                <span>VIEW CATEGORY</span>
            }
            else if (ViewBag.IsTrainingsPage == true)
            {
                <span>TRAININGS</span>
            }
            else if (ViewBag.IsAddTrainingPage == true)
            {
                <span>ADD TRAINING</span>
            }
            else if (ViewBag.IsViewTrainingPage == true)
            {
                <span>VIEW TRAINING</span>
            }
            else if (ViewBag.IsEditTrainingPage == true)
            {
                <span>EDIT TRAINING</span>
            }
            else if (ViewBag.IsTopicsPage == true)
            {
                <span>TOPICS</span>
            }
            else if (ViewBag.IsAddTopicsPage == true)
            {
                <span>ADD TOPIC</span>
            }
            else if (ViewBag.IsEditTopicPage == true)
            {
                <span>EDIT TOPIC</span>
            }
            else if (ViewBag.IsViewTopicPage == true)
            {
                <span>VIEW TOPIC</span>
            }
            else if (ViewBag.IsRatingsPage == true)
            {
                <span>TRAINING RATINGS AND FEEDBACK</span>
            }
            else
            {
                <span>ADMIN DASHBOARD</span>
            }
        </span>
    </div>
    <div class="logosec">
        <div class="nameText">@HttpContextAccessor.HttpContext.Session.GetString("UserName")</div>
        <div class="mr-20 hover-pointer" style="position: relative">
            <div class="dp">
                <img src="~/img/adminpicBlue.png"
                     class="dpicn hover-pointer"
                     alt="dp">
            </div>
            <div class="dropdown">
                <ul>
                    <li>
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <a asp-action="SignOutUser" asp-controller="Account">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
