@{
    ViewData["Title"] = "Training Page";
}
@section styles {
    <link rel="stylesheet" href="~/css/trainingsKL.css" />
}
<div class="container-div">
    <div class="inside-container">
            <div style="width: 50%;">
                <div class="title-div">
                    <p class="title-p">C# PROGRAMMING BASICS</p>
                    <p class="author-p">Author Neri</p>
                </div>

                <div class="desc-div">
                    <p class="desc-title-p">DESCRIPTION</p>
                    <p class="desc-p">Master the fundamentals of C# programming and object-oriented principles, gaining the skills to build robust and maintainable applications.</p>
                    
                    <div class="category-div">
                        <p class="category-title-p">CATEGORY</p>
                        <p class="category-p">Programming</p>
                    </div>
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div class="rating-div">
                            <p class="rating-title-p">RATING</p>
                           <div style="display: flex;">
                                <div class="star-rating" id="rating">
                                    <span data-value="1" class="star"><i class="fas fa-star star-design"></i></span>
                                    <span data-value="2" class="star"><i class="fas fa-star star-design"></i></span>
                                    <span data-value="3" class="star"><i class="fas fa-star star-design"></i></span>
                                    <span data-value="4" class="star"><i class="fas fa-star star-design"></i></span>
                                    <span data-value="5" class="star"><i class="fas fa-star star-design"></i></span>
                                </div>
                                <input type="hidden" id="rating-input" value="0" />
                                <p class="rating-p">5.0</p>
                           </div>
                        </div>

                    <a class="rate-button" asp-controller="Training" asp-action="RateTraining">
                            <p class="rateme-p">Rate Me!</p>
                        </a>
                        
                    </div>
                </div>
            </div>

            <div style="width: 30%; margin-left: 50px;">
                <div class="topic-div">
                    <p class="topics-p">TOPICS</p>
                </div>
            </div>

    </div>

    
</div>
