body {
    background-image: url('/img/lightyellow.png');
    background-size: 100% 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

.viewuser-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.inside-viewuser {
    height: 85%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}
.img-div-left {
    background-color: #086788;
    height: 80%;
    width: 30%;
    border-radius: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
}
.form-div-right {
    background-color: #F0C808;
    height: 80%;
    width: 70%;
    border-radius: 50px;
}

.dp-div {
    height: 238px;
    width: 238px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}

.dpic-img {
    height: 240px;
}

.inputs-div {
   display: flex;
   padding: 50px;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
}

.right-side-div {
    width: 50%;
    height: 120%;
    margin-bottom: 30px;
}
.left-side-div {
    width: 50%;
    height: 120%;
    margin-right: 50px;
}

.inputs-label {
    font-weight: 500;
    color: #086788;
    font-size: 25px;
}

.input-design {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    color: #086788;
    font-weight: 500;
    font-size: 20px;
}

.create-button {
    border: none;
    background-color: #086788;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 50px;
}
.bottom-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    text-decoration: none !important;
}
.back-button-div {
    border: none;
    background-color: #DD1C1A;
    color: white !important;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-decoration: none !important;
}
a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

.password-input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.password-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    z-index: 1;
    color: #086788;
    font-size: 20px;
}

.input-design-pass {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    color: #086788;
    font-weight: 500;
    font-size: 20px;

}
