body {
    background-image: url('/img/blueBG.png');
    background-size: 100% 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}
.usermaster-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.inside-usermaster {
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.list-div {
    background-color: #FFF1D0;
    border-radius: 60px;
    padding: 50px;
    height: 70%;
    width: 35%;
}
.list-p {
    color: #086788;
    font-size: 30px;
    font-weight: bold;
}
.list2-p{
    color: #086788;
    font-size: 20px;
    font-weight: 500;
}
.img-design {
    margin-top: 80px;
    width: 100%;
}
.training-div {
    margin-left: 80px;
    height: 70%;
    width: 40%;
}
.category-div {
    background-color: #07A0C3;
    border-radius: 30px;
    padding: 30px;
    height: 48%;
}
.training-p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.inside-div {
    display: flex;
}
.training2-p {
    color: white;
    font-size: 15px
}
.img-design2 {
    width: 100%
}
.trainings-div2 {
    background-color: #F0C808;
    border-radius: 30px;
    padding: 30px;
    margin-top: 10px;
    height: 50%;
}
.inside-trainings-div {
    display: flex;
}
.trainings-p {
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.trainings2-p {
    color: white;
    font-size: 15px;
}
.img-design3 {
    width: 70%;
    height: 50%;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
