body {
    background-image: url('/img/yellowBG.png');
    background-size: 100% 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

.screen-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-container {
    background-color: #086788;
    width: 50%;
    height: 85%;
    margin-bottom: 115px;
    border-radius: 50px;
    padding: 70px;
}

label {
    color: #F0C808;
    font-size: 25px;
    font-weight: 600;
}

.input-design {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    color: #086788;
    font-weight: 500;
    font-size: 20px;
}

.text-area-design {
    height: 300px;
    max-height: 300px;
    resize: vertical;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    color: #086788;
    font-weight: 500;
    font-size: 20px;
}

.createButton {
    border: none;
    background-color: #07A0C3;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-left: 50px;
}

.back-button {
    border: none;
    background-color: #DD1C1A;
    color: white !important;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    text-align: center;
    width: auto;
}

.back-button-p {
    margin: 0;
}

.bottom-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 80%;
    text-decoration: none !important;
    margin: 0 auto;
}

.uploadButton {
    color: #F0C808;
}
.currentFile {
    color: white;
    font-size: 17px;
    margin-right: 10px;
}

.fileData {
    color: #F0C808;
}

.topicFileDiv {
    display: flex;
    align-items: center;
}
