@using ASI.Basecode.Services.ServiceModels
@model TopicViewModel
@section styles {
    <link rel="stylesheet" href="~/css/edittopic.css" />
}
@{
    ViewData["Title"] = "Edit Topic";
    ViewBag.IsEditTopicPage = true;
}

<div class="screen-container">
    <div class="inside-container">
    <form method="post" asp-action="EditTopic" enctype="multipart/form-data" asp-route-trainingId="@ViewBag.TrainingId">
        <input type="hidden" class="form-control" asp-for="TopicId">
        <div class="form-group">
            <label>TOPIC NAME</label>
            <input type="text" class="input-design" asp-for="TopicName">
            <span asp-validation-for="TopicName" class="text-danger"></span><br>
        </div>
        <div class="form-group">
            <label>DESCRIPTION/ LESSON</label>
            <textarea class="text-area-design" asp-for="TopicDesc"></textarea>
            <span asp-validation-for="TopicDesc" class="text-danger"></span><br>
        </div>

        <div class="form-group">
            <div style="display: flex;">
                <label>RESOURCE MATERIAL</label>
                <div style="width: 8%">
                    <img src="~/img/materialRB.png" style="width: 100%;" alt="dp">
                </div>
            </div>
            <div>
                @if (!string.IsNullOrEmpty(Model.TopicFile))
                {
                    <div class="topicFileDiv">
                        <p class="currentFile">Current file: </p>
                        <p class="fileData">@Model.TopicFile</p>
                    </div>
                }
                else
                {
                    <p class="currentFile">No file uploaded</p>
                }
            </div>
            <input asp-for="MaterialFile" type="file" accept=".pdf, .ppt, .pptx, .mp4" class="uploadButton"><br />
            <span asp-validation-for="MaterialFile" class="text-danger"></span><br>
        </div>

        <div class="bottom-buttons">
            <a class="back-button" asp-controller="Topic" asp-action="Topics" asp-route-trainingId="@ViewBag.TrainingId">
                <p class="back-button-p">BACK TO LIST</p>
            </a>
                <button type="submit" class="saveButton">SAVE</button>
        </div>
    </form>
    </div>
</div>
@section scripts{
    <script>
        function previewFile() {
            var preview = document.getElementById('previewImage');
            var fileInput = document.querySelector('input[type=file]');
            var file = fileInput.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            };

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "@Model.FileUrl";
            }
        }
    </script>
}