@using ASI.Basecode.Services.ServiceModels
@model TopicViewModel

@section styles {
    <link rel="stylesheet" href="~/css/" />
}
@{
    ViewData["Title"] = "View Topic";
    ViewBag.IsViewTopicPage = true;
}

<div class="viewuser-div">
    <div class="inside-viewuser">
        <div>
            <form method="post" asp-action="ViewTopic">
                <div class="inputs-div">
                    <div>
                        <input type="hidden" class="input-design" asp-for="Id">
                        <label for="topicName" class="inputs-label">TOPIC NAME</label>
                        <input type="text" class="input-design" asp-for="TopicName" readonly><br><br>
                        <div style="width: 20%">
                            <img src="@Model.ImageUrl" style="width: 100%;" alt="Topic File">
                        </div><br />
                        <label for="trainingDesc" class="inputs-label">DESCRIPTION</label>
                        <input type="text" class="input-design" asp-for="TopicDesc" readonly><br><br>
                    </div>
                    <div class="rightside-div">
                        <a class="back-button-div" asp-controller="Topic" asp-action="Topics">
                            <p class="back-button-p">BACK TO LIST</p>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
}