@using ASI.Basecode.Services.ServiceModels
@model UserViewModel
@{
    ViewData["Title"] = "Edit User";
    ViewBag.IsEditUserPage = true;
}
@section styles {
    <link rel="stylesheet" href="~/css/edituser.css" />
}

<div class="viewuser-div">
    <div class="inside-viewuser">
        <div class="img-div-left">
            <div class="dp-div">
                <img src="~/img/defaultPic.png"
                     class="dpic-img hover-pointer"
                     alt="dp">
            </div>
        </div>
        <div class="form-div-right">
            <form method="post" action="EditUser">
                <div class="inputs-div">

                    <div class="left-side-div">
                        <input type="hidden" class="input-design" asp-for="Id">

                        <label class="inputs-label" for="userId">USER ID</label>
                        <input type="text" id="userId" class="input-design"
                               asp-for="UserId" />
                        <span asp-validation-for="UserId" class="text-danger"></span><br>

                        <label class="mt-3 inputs-label" for="firstName">FIRST NAME</label>
                        <input type="text" id="firstName" class="input-design"
                               asp-for="FirstName" />
                        <span asp-validation-for="FirstName" class="text-danger"></span><br>

                        <label class="mt-3 inputs-label" for="lastName">LAST NAME</label>
                        <input type="text" id="lastName" class="input-design"
                               asp-for="LastName" />
                        <span asp-validation-for="LastName" class="text-danger"></span><br>

                        <label class="mt-3 inputs-label" for="username">DISPLAY NAME</label>
                        <input type="text" id="username" class="input-design"
                               asp-for="Username" />
                        <span asp-validation-for="Username" class="text-danger"></span><br>
                    </div>

                    <div class="right-side-div">

                        <label class="mt-3 inputs-label" for="email">EMAIL</label>
                        <input type="text" id="email" class="input-design"
                               asp-for="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span><br>

                        <label class="mt-3 inputs-label" for="password">PASSWORD</label>
                        <div class="password-input-container">
                            <input type="text" id="password" class="input-design-pass" asp-for="Password" />
                            <i class="fas fa-eye-slash password-icon" id="togglePassword"></i>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span><br>


                        <div class="bottom-buttons">
                            <a style="text-decoration: none;" class="back-button-div" asp-controller="UserMaster" asp-action="UserMaster">
                                BACK TO LIST
                            </a>
                            <button class="save-button" type="submit">
                                SAVE
                            </button>
                        </div>


                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
    <script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        // Initially set the password field to be visible
        password.setAttribute("type", "text");
        togglePassword.classList.remove("fa-eye-slash");
        togglePassword.classList.add("fa-eye");

        togglePassword.addEventListener("click", function () {
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);

            this.classList.toggle("fa-eye-slash");
            this.classList.toggle("fa-eye");
        });
    </script>

}
